<h2>Books</h2>
<table>
  <thead>
    <tr>
      <th></th>
      <th>Title</th>
      <th>Opinion</th>
    </tr>
  </thead>
  <% @post_books.each do |book| %>
  <tbody>
    <tr>
      <td>
        <%= attachment_image_tag book.user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %>
      </td>
      <td>
        <%= link_to book.title, book_path(book.id) %>_
      </td>
      <td>
        <%= book.body %>
      </td>
    </tr>
  </tbody>
  <% end %>
</table>